@{
    var version = typeof(IdentityServer4.Hosting.IdentityServerMiddleware).Assembly.GetName().Version?.ToString();
}

<div>
    <div class="row page-header">
        <div class="col-sm-10">
            <h1>
                <img class="icon" src="~/icon.jpg">
                Welcome to IdentityServer4
                <small>(version @version)</small>
            </h1>
        </div>
    </div>

    @*<div class="row">
            <div class="col-sm-8">
                <p>
                    IdentityServer publishes a
                    <a href="~/.well-known/openid-configuration">discovery document</a>
                    where you can find metadata and links to all the endpoints, key material, etc.
                </p>
            </div>
            <div class="col-sm-8">
                <p>
                    Click <a href="~/grants">here</a> to manage your stored grants.
                </p>
            </div>
        </div>*@
    @*<div class="row">
            <div class="col-sm-8">
                <p>
                    Here are links to the
                    <a href="http://sampleapi.loveyday.com/swagger/index.html">API Link</a>,
                    and <a href="http://mvcclient.loveyday.com">MVC Client Link</a>.
                </p>
            </div>
        </div>*@
    <div class="row">
        <div class="col-sm-8">
            <h3>ResourceOwnerPassword Client</h3>
            <p>
                Client Id: 892CACB8E9CE46AEA32DC7B7A7F39E39
            </p>
            <p>
                Client Secret: 345622A557F546959267ED8B3F6293B6
            </p>
            <p>Scope: OpenId Profile SampleApi offline_access</p>
            <p>Username: Olek, Password: *IdentityServer* </p>
        </div>
    </div>
    @*<div class="row">
        <div class="col-sm-8">
            <h3>MVC Client</h3>
            <p>
                Client Id: 892CACB8E9CE46AEA32DC7B7A7F39E39
            </p>
            <p>
                Client Secret: 3FEF2A32D1A14EFCA97EC0D341770206
            </p>
            <p>Scope: OpenId Profile SampleApi offline_access</p>
            <p>Account: Olek, Password: *IdentityServer*</p>
            <p>If you want to add RedirectUris and PostLogoutRedirectUris,Contact me: 875755898@qq.com</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8">
            <h3>SPA or JS Client</h3>
            <p>
                Client Id: 345622A557F546959267ED8B3F6293B6
            </p>
            <p>Scope: OpenId Profile SampleApi</p>
            <p>If you want to add RedirectUris, PostLogoutRedirectUris, CorsUris etc,Contact me: 875755898@qq.com</p>
        </div>
    </div>*@
</div>

@*<script src="https://eqcn.ajz.miesnfu.com/wp-content/plugins/wp-3d-pony/live2dw/lib/L2Dwidget.min.js"></script>
<script>
    // ReSharper disable once PossiblyUnassignedProperty
    L2Dwidget.init({
        "model": {
            jsonPath: "https://unpkg.com/live2d-widget-model-koharu@1.0.5/assets/koharu.model.json",
            "scale": 1
        },
        "display": {
            "position": "left", // 看板娘的表现位置
            "width": 120,  // 小萝莉的宽度
            "height": 200, // 小萝莉的高度
            "hOffset": 0,
            "vOffset": -20
        },
        "mobile": {
            "show": true,
            "scale": 0.5
        },
        "react": {
            "opacityDefault": 0.7,
            "opacityOnHover": 0.2
        }
    });
</script>*@